:root {
  /*baclgraund color*/
  --b-dark: #2f303a;
  --b-middle: #f5f4fa;
  /*text color*/
  --txt-dark: #212121;
  --txt-middle: #757575;
  --txt-light: #ffffff;
  --txt-bleu: #2196f3;
  /*fonts*/
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

body {
  font-family: var(--main-font);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-first-part {
  color: var(--txt-bleu);
}

.logo-second-part {
  color: var(--txt-dark);
}

.logo-light-part {
  color: var(--txt-light);
}

/*index page*/
.head {
  background-color: var(--b-dark);
  height: 600px;
}

.head-name {
  color: var(--txt-light);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.our-team {
  background-color: var(--b-middle);
  height: 648px;
}

/*footer*/

.footer {
  background-color: var(--b-dark);
  height: 252px;
}
